@model IEnumerable<PackageDelivery.Domain.Entities.Order>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.RegistrationDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderState)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DistanceBetweenPickUpAndDeliveryAddresses)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DistanceBetweenPickUpPointAndDeliveryAddress)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryShipment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PickUpAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PickUpPoint)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PickUpShipment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DistanceBetweenPickUpAndDeliveryAddresses)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DistanceBetweenPickUpPointAndDeliveryAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Volume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Length)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Width)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Height)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryAddress.AddressId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryShipment.ShipmentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PickUpAddress.AddressId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PickUpPoint.PickUpPointId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PickUpShipment.ShipmentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OrderId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OrderId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OrderId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
